<nav class="navbar">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a (linkPressed)="oneOflinksPreesed()" (click)="EmitshowMenu.emit($event)" class="navbar-item"><span class="icon">
          <i class="fa-solid fa-bars"></i>
        </span></a>
      <a class="logo" routerLink=""><strong>A</strong>
        <span (mouseenter)="avshaClass = 'gone' " [class]="avshaClass">vshalom</span>
        <span [ngStyle]=" {'color': letersColor[i]}" [ngClass]="logo[i]" (pointerover)="cngColor(i)"
          *ngFor="let item of logo;let i = index">{{item}}</span>
      </a>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a routerLink="/cart">
          <i class="fa-solid fa-cart-shopping"></i>
          <strong [class]="numClass">+{{cartProductNum}}</strong>
        </a>
      </div>
    </div>
  </div>
</nav>