.fa-solid{
  font-size: 2rem;
  color: rgb(0, 168, 168);
  margin-left: 2rem;
}
.logo{
  font-size: 2rem;
  margin-left: 3rem;
  color: #191815;
}

.logo strong{
  color: rgb(0, 168, 168);
}

.buttons{
  margin-right: 2rem;
}

.avsha {
  color: rgba(0, 0, 0, 0.6);
}
.gone{
  display: none;
}

.zeroProducts{
  width: 1rem;
  height: 1rem;
  padding: 2px;
  background-color: red;
  border-radius: 50%;
  color: #191815;
}

.moreProducts{
  width: 1rem;
  height: 1rem;
  padding: 2px;
  background-color: rgb(0, 168, 168);
  border-radius: 50%;
  color: aliceblue;
}